<app-header></app-header>

<div class="page-layout">
  <h1 id="titulo">Portal de Gestão de Carga Horária</h1>

  <p id="paragrafo">
    Gerencie e acompanhe a carga horária da sua equipe de forma prática e organizada. Este sistema 
    foi desenvolvido para oferecer uma visão consolidada do desempenho por cargo, facilitando o 
    controle de metas mensais, projeções e estatísticas com base nos dados registrados. Ideal para 
    equipes que valorizam clareza, planejamento e eficiência na gestão do tempo.
  </p>

  <div class="button-container">
    <button class="custom-button" [routerLink]="['/manager']">Gerenciar Horas</button>
    <button class="custom-button-1" [routerLink]="['/reports']">Dashboard</button>
  </div>
</div>

<app-footer></app-footer>
